#*
*$
*.BAK
*.Z
*.bak
*.class
*.dylib
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
node_modules/
.sass-cache
*/settings/local.py
docker-compose.override.yml
