<!DOCTYPE HTML>{% load staticfiles compress %}
<html lang="en">
 <head>
 <link rel="SHORTCUT ICON" href="{% static 'images/favicon.ico' %}">
  <title>Django Docker Demo</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="Joe Jasinski, Django Docker Demo" />
  <meta name="description" content="A demo application showing how Django can be used with Docker." />
  <meta name="author" content="Joe J. Jasinski" />

  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width; initial-scale=0.666667; maximum-scale=0.666667; user-scalable=0">
  <meta name="viewport" content="width=device-width">

  {% compress css %}
  <link rel="stylesheet" href="{% static 'scss/master.scss' %}" type="text/x-scss" />
  {% endcompress %}
 </head>
 <body>

   <div id="content">
       {% block content %}
       {% endblock content %}
   </div>
   <footer>
      Example by Joe Jasinski
  </footer>
 </body>

 <script src="{% static 'js/app.js' %}"></script>
 {% block js_footer %}{% endblock %}
</html>
